@page
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AzureMaps</title>

    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/css/atlas.min.css?api-version=1" type="text/css" />
    <script src="https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=1"></script>
    <script src="https://atlas.microsoft.com/sdk/js/atlas-service.js?api-version=1"></script>

    <script>
        atlas.setSubscriptionKey('@Model.AzureMapsSubscriptionKey');
        atlas.setLanguage('en');
        function addPins(data, dataSource, map) {
            let pins = [];
            data.forEach(function (pinLocation) {
                if (pinLocation) {
                    let pin = new atlas.data.Feature(new atlas.data.Point([pinLocation.longitude, pinLocation.latitude]));                  
                    pins.push(pin);
                }
            });
            dataSource.add(pins);
            map.setCamera({
                bounds: atlas.data.BoundingBox.fromData(pins)
            });
        }
        function createMap() {
            let map = new atlas.Map("map");
            map.events.add('load', function () {

                let compassControl = new atlas.control.CompassControl();
                map.controls.add(compassControl, {
                    position: "bottom-right"
                });

                let zoomControl = new atlas.control.ZoomControl();
                map.controls.add(zoomControl, {
                    position: "bottom-right"
                });

                let pitchControl = new atlas.control.PitchControl();
                map.controls.add(pitchControl, {
                    position: "bottom-right"
                });
                let styleControl = new atlas.control.StyleControl();
                map.controls.add(styleControl, {
                    position: "bottom-right"
                })

                var dataSource = new atlas.source.DataSource();
                map.sources.add(dataSource);

                var pinLayer = new atlas.layer.SymbolLayer(dataSource);
                map.layers.add(pinLayer);

                fetch('/api/assets')
                    .then(response => response.json())
                    .then(data => addPins(data, dataSource, map));

                map.addEventListener("click", pinLayer, (e) => {                   
                })
            });
        }
        document.addEventListener("DOMContentLoaded", function (event) {
            createMap();
        });
    </script>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
</body>
</html>